#gorilla{
    width: 200px;
    height: 200px;
    background-color: green;
    animation-name: joseph;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes joseph{
    0%{
        background-color: aqua;
        border-radius: 20%;
        transform: scale(0);
    }
    10%{
        background-color: blue;
        transform: scale(0.5);
    }
    40%{
        background-color: brown;
    }
    60%{
        background-color: red;
        border-radius: 50%;
        transform: scale(0.7);
        transform: rotate(360deg);
    }
    90%{
        background-color: orange;
    }
    100%{
        background-color: gold;
        border-radius: 100%;
        transform: scale(1.0);
    }
}