.emperor{
    border: 3px solid black;
    width: 50%;
    border-radius: 5px;
    box-shadow: 12px 12px 5px blue;
    margin: 5px;
    padding: 10px;
    width: 50%;
}
body{
    width: 50%;
}
img{
    width: 20px;
}