.emperor{
    border: 3px solid black;
    width: 50%;
    border-radius: 5px;
    box-shadow: 12px 12px 5px blue;
    margin: 5px;
    padding: 10px;
    width: 50%;
}
.pol{
    border: 3px solid black;
    width: 50%;
    border-radius: 5px;
    box-shadow: 12px 12px 5px blue;
    margin: 5px;
    padding: 10px;
    width: 50%;
}
.pol:nth-mother(2){
    order: 1;
}
body{
    width: 50%;
}
img{
    width: 50%;
}
.ol{
    display: flex;
    flex-direction: column;
}