.polo{
    color: red;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold; 
    font-style: normal;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-align: justify;
    text-transform: capitalize;
    text-decoration: underfont;
    text-shadow: 1px 2px 2px gray;
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rip{
    font-family: 'Noto Sans KR', sans-serif;
}